/**/
:root{
    /* background colors */
    --bg: #2d2e32; /*Mais claro*/
    --bg2: #25262a; /*Mais escuro*/
    /*background-color: #28292d;*/
    /*background-color: #00ff84;*/

    /* text colors */
    --text-white: hsla(0, 0%, 100%, 1);
    --text-verde: #29D882;
    --text-verde-2: #00ff84;
    --text-tertiary: #88949B;

    /* font size */
    --fontSize-1: 1.7rem;
    --fontSize-2: 2rem;
    --fontSize-3: 2.3rem;
    --fontSize-4: 2.5rem;
    --fontSize-5: 3rem;
    --fontSize-6: 5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;}
ul {list-style: none;}
p{
    font-size: var(--fontSize-1);
    color: var(--text-tertiary);
}
h2{
    font-size: var(--fontSize-5);
    color: var(--text-white);
}

html, body, main{
    width: 100%;
}

header, #sobre{
    width: 100%;
    height: 100vh;
    background-color: var(--bg2);
    /*display: none;*/
}

.navbar{
    width: 100%;
    /*height: 70px;*/
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.menu{
    display: inherit;
    gap: 25px;
}

.menu li{
    padding: 10px;
}

.menu a{
    font-size: var(--fontSize-2);
    color: var(--text-white);
}

#inicio{
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.descricao{
    width: 410px;
}

.descricao span{
    margin: 0 20px;
    letter-spacing: 1.5px;
    font-size: var(--fontSize-4);
    color: var(--text-white);
}

.descricao h1{
    font-size: var(--fontSize-6);
    color: var(--text-verde-2);
}

.descricao p{letter-spacing: 1px;}

.avatar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar .circulo{
    position: absolute;
    margin: auto;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: var(--text-verde);
}

.avatar .circulo::before{
    content: '';
    position: absolute;
    left: -10%;
    bottom: -30px;
    width: 120%;
    height: 20px;
    border-radius: 20px;
    background-color: var(--bg);
}

.avatar img{
    margin-top: -40px;
    z-index: 1;
}


/* ---------- main ---------- */
#sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

#sobre .conteiner{
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
}

.tabs{
    height: 15%;
    display: flex;
    /*justify-content: space-evenly;*/
}

.tabs li{
    width: 100%;
    border-bottom: 1px solid #fff;
}

.tab_1{
    border-right:  1px solid #fff;
}

.tab{
    width: 100%;
    height: 100%;
    border-style: none;
    color: var(--text-verde-2);
    font-size: var(--fontSize-4);
    background-color: transparent;
}

.conteiner_sobre, .conteiner_cursos{
    display: none;
    width: 100%;
    height: 85%;
    background-color: var(--bg2);
}

.div_foto{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid gray;
}

.div_foto > img{
    width: 350px;
    transform: translateX(-40px) rotate(-9deg);
}

.div_descricao{
    width: 50%;
    height: 350px;
    padding: 20px;
}

.conteiner_cursos{
    border: 3px solid blue;
}

.ativo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aviso{
    padding: 15px 30px;
    color: var(--text-verde-2);
    font-size: var(--fontSize-6);
    margin: 0 auto;
    border: 1px solid #fff;
    background-color: var(--bg);
}

/* 232 linhas - 252 linhas */