/**/
:root{
    /* background colors */
    --bg: #2d2e32; /*Mais claro*/
    --bg2: #25262a; /*Mais escuro*/
    --bg3: #28292d;
    --bg4: #28292d94;
    --bg5: #171C23;
    /*background-color: #00ff84;*/

    /* text colors */
    --text-white: hsla(0, 0%, 100%, 1);
    --text-verde: #29D882;
    --text-verde-2: #00ff84;
    --text-tertiary: #88949B;

    /* scrollbar colors */
    --scrollbar-white: #fff;
    --scrollbar-verde-2: #29D882;
    --scrollbar-verde-3: #45fda4;
    --scrollbar-verde-4: #71eeb2;

    /* font size */
    --fontSize-1: 1.7rem;
    --fontSize-2: 2rem;
    --fontSize-3: 2.3rem;
    --fontSize-4: 2.5rem;
    --fontSize-5: 3rem;
    --fontSize-6: 5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;}
ul {list-style: none;}
p{
    font-size: var(--fontSize-1);
    color: var(--text-tertiary);
}
h2{
    font-size: var(--fontSize-5);
    color: var(--text-white);
}

html, body, main{
    width: 100%;
}

::-webkit-scrollbar {
    width: 13px;
    background-color: var(--bg);
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 7px;*/
    border: 2px solid #181d23;
}/*
::-webkit-scrollbar-track {
    border-inline-start: 2px solid #181d23;
}*/
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--scrollbar-white);
}

header, #inicio, #sobre, #projetos{
    width: 100%;
    height: 100vh;
    background-color: var(--bg2);
}

/*.flex_center, #sobre, #inicio, #projetos{*/
.flex_center, section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 10%;
    justify-content: space-between;
    padding: 0 12%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: .3s linear;
    z-index: 10;
}

.navbar-bg{
    transition: .2s linear;
    background-color: #181d23;
}

.btn-hamburger{
    display: none;
    cursor: pointer;
}

.linha1, .linha2, .linha3{
    width: 40px;
    height: 3px;
    margin: 10px;
    background-color: var(--text-white);
    transition: .2s;
}

.linha2{
    height: 4px;
}

.clicked .linha1{
    transform: rotate(-135deg) translate(-9px, -10px);
}
.clicked .linha2{
    opacity: 0;
}
.clicked .linha3{
    transform: rotate(135deg) translate(-9px, 10px);
}

.menu{
    display: inherit;
    gap: 25px;
}

.menu li{
    padding: 10px;
}

.menu a{
    font-size: var(--fontSize-2);
    color: var(--text-white);
}

.menu_mobile{
    display: none;
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0px;
    background-color: var(--bg5);
}

.menu_mobile a {
    display: block;
    font-size: var(--fontSize-2);
    color: var(--text-white);
    padding: 1rem 0.2rem;
    margin: 0 2rem;
    border-bottom: 2px solid rgba(170, 158, 158, 0.151);
}

.active_menu{
    display: block;
}

#inicio{
    justify-content: space-evenly;
    position: relative;
}

.descricao span{
    margin: 0 20px;
    letter-spacing: 1.5px;
    font-size: max(var(--fontSize-1), 3vw);
    color: var(--text-white);
}

.descricao h1{
    font-size: max(3.6rem, 6vw);
    /*font-size: clamp(3.5rem, 6vw, 10em);*/
    color: var(--text-verde-2);
    cursor: default;
}

.descricao p{
    font-size: max(1.6rem, 2.7vw);
    /*font-size: clamp(1.5rem, 2.7vw, 5em);*/
    letter-spacing: 1px;
}

.btn_linkedin{
    margin: 50px auto 0 auto;
}

.linkedin{
    font-size: var(--fontSize-2);
    font-weight: bold;
    padding: .3rem 2rem;
    cursor: pointer;
    color: var(--bg2);
    box-shadow: 0px 0px 8px var(--text-verde-2);
    background-color: var(--text-verde);
    border: none;
}

.avatar{
    width: clamp(20rem, 35vw, 590px);
    height: clamp(20rem, 35vw, 590px);
    position: relative;
}

.avatar .circulo{
    position: absolute;
    width: 93%;
    height: 93%;
    border-radius: 50%;
    background-color: var(--text-verde);
}

.avatar .circulo::before{
    content: '';
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: var(--bg);
    z-index: 2;
}

.avatar img{
    margin-top: -34px;
    width: 110%;
    height: 110%;
    z-index: 1;
}


/* ---------- main ---------- */
#sobre{
    background-color: var(--bg);
}

.conteiner{
    /* Observação o clamp não trava 100%
    no valor menor, fazer alguns testes.*/
    width: clamp(44rem, 90vw, 1300px);
    height: clamp(25rem, 80vh, 1090px);
   /* min-width: 44rem;*/
    background-color: var(--bg2);
    border-radius: 20px;
    margin-top: 8vh;
    overflow: hidden;
}

.conteiner > h2{
    width: 100%;
    height: 15%;
    border-bottom: 3px solid var(--bg);
}

.conteiner_sobre{
    display: none;
    width: 100%;
    height: 85%;
}

.ativo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_foto{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid gray;
}

.div_foto > img{
    width: 300px;
    /*height: 390px;*/
}

.div_descricao{
    width: 50%;
    height: 350px;
    padding: 20px;
}

.div_descricao h3{
    font-size: clamp(2.4rem, 3.5vw, 4rem);
    color: var(--text-verde-2);
    cursor: default;
}

.div_descricao p{
    font-size: clamp(1.4rem, 2vw, 2.5rem);
}


/* ----------  SECTION PROJETO  ---------- */
#projetos .conteiner h2{
    border-bottom: none;
}

.conteiner_projetos{
    width: 100%;
    height: 85%;
    justify-content: space-evenly;
    /*border: 1px solid red;*/
}

.item{
    width: 400px;/*360px*/
    height: 400px;/*370px*/
    position: relative;
    background-color: var(--bg);
    border: 1px solid rgba(128, 128, 128, 0.658);
}

.item_img{
    width: 100%;
    height: 50%;
    background-color: gray;
}
.item_img img{
    width: 100%;
    height: 100%;
}

.item p{
    font-size: 1.3rem;
    color: var(--text-white);
}

.tec{
    margin-left: 15px;
    font-size: 1.4rem !important;
    color: var(--text-verde-2) !important;
}

.item ul{
    list-style: circle;
    margin-left: 40px;
    font-size: 1.2rem;
    color: var(--text-white);
}

#projetos .btn{
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 1rem;
    padding: .3rem 2rem;
    cursor: pointer;
    color: #000;
    box-shadow: 0px 0px 8px var(--text-verde-2);
    background-color: var(--text-verde);
    border: none;
}

#contatos{
    width: 100%;
    height: 85vh;
    background-color: var(--bg);
}

#contatos .conteiner{
    height: 84%;
    background-color: var(--bg2);
}

.div_conteiner{
    margin: 0 auto;
    width: 20rem;
    height: 85%;
}

.lista_contatos{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.item_contato {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5rem;
    gap: 2rem;
}

.item_contato:not(:last-child) {
    padding-block-end: 20px;
    border-block-end: 3px solid var(--bg);
    margin-block-end: 20px;
}

.contato_link{
    font-size: 2.5rem;
    color: var(--text-verde);
}

#linkedin{
    fill: #0288D1;
}
#github, #email{
    fill: white;
}

.icon{
    width: 4rem;
    height: 4rem;
    border-radius: 15px;
}

footer{
    width: 100%;
    /*height: 70px;*/
    height: 15vh;
    background-color: #181d23;
}

footer p{
    font-size: clamp(1rem, 2vw, 2rem);
}

footer p a{
    color: var(--text-verde-2);
}


@media screen and (max-width: 768px){
    .navbar{
        padding: 0 8%;
        background-color: var(--bg5);
    }

    .menu{
        display: none;
    }

    .btn-hamburger{
        display: block;
    }

    #sobre, #projetos, #projetos .conteiner{
        height: auto;
    }
    
    .conteiner {
        width: 90vw;
    }

    #sobre .conteiner{
        height: 850px;
        margin-bottom: 12.5vh;
    }

    .conteiner_sobre{
        flex-direction: column;
        justify-content: center;
    }
    .div_descricao{
        width: 90%;
        height: auto;
    }

    .conteiner_projetos{
        flex-direction: column;
    }

    .item{
        margin: 30px 0;
    }
}

@media screen and (max-width: 650px){
    #inicio{
        flex-direction: column;
        justify-content: center;
    }

    .avatar{
        margin-top: 8%;
        margin-bottom: -10%;
    }
}

@media screen and (max-width: 480px){
    .avatar{
        width: 90vw;
        height: 90vw;
    }
}
/* 549 linhas */